* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: purple;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}

    header > div:first-child {
      margin-right: auto;
    }

    header > div {
      flex-basis: 140px;
      height: 70px;
      background-color: violet;
      margin: 0 10px;
    }

main {
  display: flex;
  justify-content: center;
  /*width : 1000px;
  background-color: #afeeee;
  display: flex;
  justify-content: center;
  height: 500px;
  margin: 0 auto;*/
}

    .sidebar-left {
      background-color: #afeeee;
      width: 300px;
    }

    .flex {
      background-color: green;
      padding: 20px;
      max-width: 700px;
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: center;
    }

    .flex > div {
      background-color: yellow;
      height: 130px;
      flex-basis: 200px;
      margin: 10px;
    }

footer {
  width: auto;
  padding: 20px;
  background-color: #1e90ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

    footer > div {
      background-color: #e0ffff;
      height: 40px;
      margin: 10px;
      flex-basis: 45%;
      max-width: 600px;
    }